__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.idea/
.vscode/
*.cache
.pytest_cache/
.mypy_cache/
.ruff_cache/
dist/
build/
*.egg-info/
dataset/
data/
annotations/
yolo_dataset/
yolo_labels/
outputs/
runs/
tools/
notes/